<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL</param-name>
        <param-value>true</param-value>
    </context-param>
    <servlet>
        <servlet-name>captcha</servlet-name>
        <servlet-class>org.sola.opentenure.services.boundary.beans.helpers.CaptchaImage</servlet-class>
        <init-param>
            <description>passing height</description>
            <param-name>height</param-name>
            <param-value>40</param-value>
        </init-param>
        <init-param>
            <description>passing height</description>
            <param-name>width</param-name>
            <param-value>120</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>GetAttachment</servlet-name>
        <servlet-class>org.sola.opentenure.services.boundary.beans.claim.GetAttachment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>captcha</servlet-name>
        <url-pattern>/captcha.jpg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAttachment</servlet-name>
        <url-pattern>/claim/getAttachment</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>500</error-code>
        <location>/error.xhtml</location>
    </error-page>
    <security-constraint>
        <display-name>Restricted pages</display-name>
        <web-resource-collection>
            <web-resource-name>protected</web-resource-name>
            <description/>
            <url-pattern>/Dashboard.xhtml</url-pattern>
            <url-pattern>/user/profile.xhtml</url-pattern>
            <url-pattern>/claim/Claim.xhtml</url-pattern>
            <url-pattern>/claim/ClaimPrint.xhtml</url-pattern>
            <url-pattern>/claim/ClaimUpload.xhtml</url-pattern>
            <url-pattern>/claim/ViewClaim.xhtml</url-pattern>
            <url-pattern>/claim/search.xhtml</url-pattern>
            <url-pattern>/ot-admin/*</url-pattern>
            <url-pattern>/admin/*</url-pattern>
            <url-pattern>/map/*</url-pattern>
            <url-pattern>/report/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>SolaRealm</realm-name>
        <form-login-config>
            <form-login-page>/login.xhtml</form-login-page>
            <form-error-page>/error.xhtml</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description>AccessCS</description>
        <role-name>AccessCS</role-name>
    </security-role>
    <security-role>
        <description>ApplnApprove</description>
        <role-name>ApplnApprove</role-name>
    </security-role>
    <security-role>
        <description>ApplnArchive</description>
        <role-name>ApplnArchive</role-name>
    </security-role>
    <security-role>
        <description>ApplnAssignOthers</description>
        <role-name>ApplnAssignOthers</role-name>
    </security-role>
    <security-role>
        <description>ApplnAssignSelf</description>
        <role-name>ApplnAssignSelf</role-name>
    </security-role>
    <security-role>
        <description>ApplnCreate</description>
        <role-name>ApplnCreate</role-name>
    </security-role>
    <security-role>
        <description>ApplnDispatch</description>
        <role-name>ApplnDispatch</role-name>
    </security-role>
    <security-role>
        <description>ApplnEdit</description>
        <role-name>ApplnEdit</role-name>
    </security-role>
    <security-role>
        <description>ApplnReject</description>
        <role-name>ApplnReject</role-name>
    </security-role>
    <security-role>
        <description>ApplnRequisition</description>
        <role-name>ApplnRequisition</role-name>
    </security-role>
    <security-role>
        <description>ApplnResubmit</description>
        <role-name>ApplnResubmit</role-name>
    </security-role>
    <security-role>
        <description>ApplnStatus</description>
        <role-name>ApplnStatus</role-name>
    </security-role>
    <security-role>
        <description>ApplnUnassignOthers</description>
        <role-name>ApplnUnassignOthers</role-name>
    </security-role>
    <security-role>
        <description>ApplnUnassignSelf</description>
        <role-name>ApplnUnassignSelf</role-name>
    </security-role>
    <security-role>
        <description>ApplnValidate</description>
        <role-name>ApplnValidate</role-name>
    </security-role>
    <security-role>
        <description>ApplnView</description>
        <role-name>ApplnView</role-name>
    </security-role>
    <security-role>
        <description>ApplnWithdraw</description>
        <role-name>ApplnWithdraw</role-name>
    </security-role>
    <security-role>
        <description>BaunitCertificate</description>
        <role-name>BaunitCertificate</role-name>
    </security-role>
    <security-role>
        <description>BaunitSave</description>
        <role-name>BaunitSave</role-name>
    </security-role>
    <security-role>
        <description>BaunitSearch</description>
        <role-name>BaunitSearch</role-name>
    </security-role>
    <security-role>
        <description>buildingRestriction</description>
        <role-name>buildingRestriction</role-name>
    </security-role>
    <security-role>
        <description>BulkApplication</description>
        <role-name>BulkApplication</role-name>
    </security-role>
    <security-role>
        <description>cadastreChange</description>
        <role-name>cadastreChange</role-name>
    </security-role>
    <security-role>
        <description>cadastrePrint</description>
        <role-name>cadastrePrint</role-name>
    </security-role>
    <security-role>
        <description>cancelProperty</description>
        <role-name>cancelProperty</role-name>
    </security-role>
    <security-role>
        <description>CancelService</description>
        <role-name>CancelService</role-name>
    </security-role>
    <security-role>
        <description>caveat</description>
        <role-name>caveat</role-name>
    </security-role>
    <security-role>
        <description>ChangePassword</description>
        <role-name>ChangePassword</role-name>
    </security-role>
    <security-role>
        <description>cnclPowerOfAttorney</description>
        <role-name>cnclPowerOfAttorney</role-name>
    </security-role>
    <security-role>
        <description>cnclStandardDocument</description>
        <role-name>cnclStandardDocument</role-name>
    </security-role>
    <security-role>
        <description>CompleteService</description>
        <role-name>CompleteService</role-name>
    </security-role>
    <security-role>
        <description>consolidationCons</description>
        <role-name>consolidationCons</role-name>
    </security-role>
    <security-role>
        <description>consolidationExt</description>
        <role-name>consolidationExt</role-name>
    </security-role>
    <security-role>
        <description>DashbrdViewAssign</description>
        <role-name>DashbrdViewAssign</role-name>
    </security-role>
    <security-role>
        <description>DashbrdViewUnassign</description>
        <role-name>DashbrdViewUnassign</role-name>
    </security-role>
    <security-role>
        <description>documentCopy</description>
        <role-name>documentCopy</role-name>
    </security-role>
    <security-role>
        <description>ExportMap</description>
        <role-name>ExportMap</role-name>
    </security-role>
    <security-role>
        <description>historicOrder</description>
        <role-name>historicOrder</role-name>
    </security-role>
    <security-role>
        <description>limtedRoadAccess</description>
        <role-name>limtedRoadAccess</role-name>
    </security-role>
    <security-role>
        <description>lodgeObjection</description>
        <role-name>lodgeObjection</role-name>
    </security-role>
    <security-role>
        <description>ManageBR</description>
        <role-name>ManageBR</role-name>
    </security-role>
    <security-role>
        <description>ManageRefdata</description>
        <role-name>ManageRefdata</role-name>
    </security-role>
    <security-role>
        <description>ManageSecurity</description>
        <role-name>ManageSecurity</role-name>
    </security-role>
    <security-role>
        <description>ManageSettings</description>
        <role-name>ManageSettings</role-name>
    </security-role>
    <security-role>
        <description>mapExistingParcel</description>
        <role-name>mapExistingParcel</role-name>
    </security-role>
    <security-role>
        <description>mortgage</description>
        <role-name>mortgage</role-name>
    </security-role>
    <security-role>
        <description>newApartment</description>
        <role-name>newApartment</role-name>
    </security-role>
    <security-role>
        <description>newDigitalTitle</description>
        <role-name>newDigitalTitle</role-name>
    </security-role>
    <security-role>
        <description>newFreehold</description>
        <role-name>newFreehold</role-name>
    </security-role>
    <security-role>
        <description>newOwnership</description>
        <role-name>newOwnership</role-name>
    </security-role>
    <security-role>
        <description>NoPasswordExpiry</description>
        <role-name>NoPasswordExpiry</role-name>
    </security-role>
    <security-role>
        <description>ParcelSave</description>
        <role-name>ParcelSave</role-name>
    </security-role>
    <security-role>
        <description>PartySave</description>
        <role-name>PartySave</role-name>
    </security-role>
    <security-role>
        <description>PartySearch</description>
        <role-name>PartySearch</role-name>
    </security-role>
    <security-role>
        <description>PrintMap</description>
        <role-name>PrintMap</role-name>
    </security-role>
    <security-role>
        <description>redefineCadastre</description>
        <role-name>redefineCadastre</role-name>
    </security-role>
    <security-role>
        <description>registerLease</description>
        <role-name>registerLease</role-name>
    </security-role>
    <security-role>
        <description>regnOnTitle</description>
        <role-name>regnOnTitle</role-name>
    </security-role>
    <security-role>
        <description>regnPowerOfAttorney</description>
        <role-name>regnPowerOfAttorney</role-name>
    </security-role>
    <security-role>
        <description>regnStandardDocument</description>
        <role-name>regnStandardDocument</role-name>
    </security-role>
    <security-role>
        <description>removeCaveat</description>
        <role-name>removeCaveat</role-name>
    </security-role>
    <security-role>
        <description>removeRestriction</description>
        <role-name>removeRestriction</role-name>
    </security-role>
    <security-role>
        <description>removeRight</description>
        <role-name>removeRight</role-name>
    </security-role>
    <security-role>
        <description>ReportGenerate</description>
        <role-name>ReportGenerate</role-name>
    </security-role>
    <security-role>
        <description>RevertService</description>
        <role-name>RevertService</role-name>
    </security-role>
    <security-role>
        <description>RHSave</description>
        <role-name>RHSave</role-name>
    </security-role>
    <security-role>
        <description>RightsExport</description>
        <role-name>RightsExport</role-name>
    </security-role>
    <security-role>
        <description>serviceEnquiry</description>
        <role-name>serviceEnquiry</role-name>
    </security-role>
    <security-role>
        <description>servitude</description>
        <role-name>servitude</role-name>
    </security-role>
    <security-role>
        <description>SourcePrint</description>
        <role-name>SourcePrint</role-name>
    </security-role>
    <security-role>
        <description>SourceSave</description>
        <role-name>SourceSave</role-name>
    </security-role>
    <security-role>
        <description>SourceSearch</description>
        <role-name>SourceSearch</role-name>
    </security-role>
    <security-role>
        <description>StartService</description>
        <role-name>StartService</role-name>
    </security-role>
    <security-role>
        <description>surveyPlanCopy</description>
        <role-name>surveyPlanCopy</role-name>
    </security-role>
    <security-role>
        <description>systematicRegn</description>
        <role-name>systematicRegn</role-name>
    </security-role>
    <security-role>
        <description>titleSearch</description>
        <role-name>titleSearch</role-name>
    </security-role>
    <security-role>
        <description>TransactionCommit</description>
        <role-name>TransactionCommit</role-name>
    </security-role>
    <security-role>
        <description>varyCaveat</description>
        <role-name>varyCaveat</role-name>
    </security-role>
    <security-role>
        <description>varyLease</description>
        <role-name>varyLease</role-name>
    </security-role>
    <security-role>
        <description>varyMortgage</description>
        <role-name>varyMortgage</role-name>
    </security-role>
    <security-role>
        <description>varyRight</description>
        <role-name>varyRight</role-name>
    </security-role>
    <security-role>
        <description>ViewMap</description>
        <role-name>ViewMap</role-name>
    </security-role>
    <security-role>
        <description>ReviewClaim</description>
        <role-name>ReviewClaim</role-name>
    </security-role>
    <security-role>
        <description>RecordClaim</description>
        <role-name>RecordClaim</role-name>
    </security-role>
    <security-role>
        <description>ModerateClaim</description>
        <role-name>ModerateClaim</role-name>
    </security-role>
</web-app>
